.Title{
    
    line-height: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: aliceblue;
}
.logo{
    margin-top: -70px; 
    position: inherit;
    float:left;
    width: 200px;
    height: 200px;
}
body{
    background-color: rgb(48, 48, 48);
}